
@import url('https://fonts.googleapis.com/css2?family=Moul&family=Open+Sans:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #31b9be;
  display: flex;
  flex-direction: column;
  
}
